# All available Hugo versions are listed here: https://gitlab.com/pages/hugo/container_registry
image: peaceiris/hugo:v0.75.1-mod

variables:
  GIT_SUBMODULE_STRATEGY: recursive
#before_script:
#  - apk add --update --no-cache git

test:
  script:
  - hugo
  except:
  - master

pages:
  script:
  - hugo
  artifacts:
    paths:
    - public
  only:
  - master
